
.drop {
  cursor: pointer;
  display: block;
  background: #090;
}

.drop + input{
 display: none;
}

.drop + input + div{
  display:none;
}

.drop + input:checked + div{
  display:block;
}

.function-describe{
            color: red;
        }

.function-describe-button{
    background-color: #ffe6e6;
}