<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>動態表單欄位</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
</head>
<body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
function add_jietu()
{
var add_jietu = document.getElementById('add_jietu');
var nodeFather = add_jietu.parentNode;
var node_clone = add_jietu.cloneNode();
content = add_jietu.innerHTML;
node_clone.removeAttribute('id');
node_clone.innerHTML = content;
nodeFather.appendChild(node_clone);
}
</script>

<div class="well well-sm">
<div class="form-group">
	<div>
	<span class="form-tip" onclick="add_jietu()"><font color="#428bca">點選新增欄位</font></span>
	</div>
<label class="form-label">欄位:</label>
<input type="textbox" name="jietu[]" class="form-input">
</div>
<div class="form-group" id="add_jietu">
<label class="form-label">欄位:</label>
<input type="textbox" name="jietu[]" class="form-input">
</div>
</div>

</body>
</html>
